#map {
    height: 50vh;
	max-height: 50rem;
}

#tile-container {
	justify-content: center;
}

.marker-icon {
  text-align: center; /* Horizontally center the text (icon) */
  line-height: 24px; /* Vertically center the text (icon) */
}
.url-col {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
